In [1]:
import pandas as pd
my_series = pd.Series(
    data=[5, 6, 7, 8, 9, 10], 
    index=['a', 'b', 'c', 'd', 'e', 'f']
    )
my_series

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

In [2]:
print(my_series)

a     5
b     6
c     7
d     8
e     9
f    10
dtype: int64

In [3]:
print('test')

test

In [4]:
import pandas as pd

def create_medications(names, counts):
    """
    Напишите функцию create_mediactions(names, counts), которая  создает Series medications,
    индексами которой являются названия лекарств names, а значениями - их количество в поставке counts
    """
    medications_my = pd.Series(
        data = counts,
        index = names
        )
    return medications_my
   

def get_percent(medications, name):
    """
    А также напишите функцию get_percent(medications, name), которая возвращает долю количества товара
    с именем name от общего количества товаров в поставке в процентах.
    """
    medications = create_medications(names, counts)
    result = medications.loc[name] / sum(medications) * 100
    return result
    

if __name__ == '__main__':
    names=['chlorhexidine', 'cyntomycin', 'afobazol']
    counts=[15, 18, 7]
    medications = create_medications(names, counts)
    print(get_percent(medications, "chlorhexidine")) #37.5

37.5

In [5]:
print(get_percent(medications, "chlorhexidine"))

37.5

# DataFrame

In [6]:
import pandas as pd

def create_companyDF(income, expenses, years):
    """
    Создайте функцию create_companyDF(income, expenses, years), которая  возвращает DataFrame, 
    составленный из входных данных со столбцами “Income” и “Expenses” и индексами, соответствующим годам рассматриваемого периода.
    """
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        },
        index = years
    )
    return df

def get_profit(df, year):
    
    """
    А также напишите функцию get_profit(df, year), которая возвращает разницу между доходом и расходом, записанных в таблице df, за год year.
    Учтите, что если информация за запрашиваемый год не указана в вашей таблице вам необходимо вернуть None. 
    """
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit = None
    
    return profit



if __name__ == '__main__':
    expenses = [156, 130, 270]
    income = [478, 512, 196]
    years = [2018, 2019, 2020]
    display(create_companyDF)
    
scienceyou = create_companyDF(income, expenses, years)
print(get_profit(scienceyou, 2020)) #-74

-74

In [7]:
print(create_companyDF(income, expenses, years))

      Income  Expenses
2018     478       156
2019     512       130
2020     196       270

In [8]:
countries_data = pd.read_csv('data/countries.csv', sep=';')
display(countries_data)

     country  population    square
0     Англия       56.29    133396
1     Канада       38.05   9984670
2        США      322.28   9826630
3     Россия      146.24  17125191
4    Украина       45.50    603628
5   Беларусь        9.50    207600
6  Казахстан       17.04   2724902

In [9]:
data = pd.read_csv('https://raw.githubusercontent.com/esabunor/MLWorkspace/master/melb_data.csv')
display(data)

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18391,23540,Williamstown,8/2 Thompson St,2,t,622500.0,SP,Greg,26/08/2017,6.8,...,2.0,1.0,NaN,89.0,2010.0,NaN,-37.86393,144.90484,Western Metropolitan,6380.0
18392,23541,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
18393,23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,S,Buckingham,26/08/2017,12.7,...,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
18394,23545,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
18395,23546,Yarraville,33 Freeman St,4,h,1050000.0,VB,Village,26/08/2017,6.3,...,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

## Задания "6. Исследование структуры DataFrame"

In [10]:
data = pd.DataFrame([[0,1], [1, 0], [1, 1]], columns=['А', 'B'])
display(data)
print(data.shape)

   А  B
0  0  1
1  1  0
2  1  1

(3, 2)

## 9. Закрепление знаний

In [11]:
import pandas as pd

In [12]:
student_data = pd.read_csv('data/students_performance.csv', sep=',')

In [13]:
student_data.loc[15]

gender                                   female
race/ethnicity                          group C
parental level of education    some high school
lunch                                  standard
test preparation course                    none
math score                                   69
reading score                                75
writing score                                78
Name: 15, dtype: object

# gender — пол;
# race/ethnicity — раса/этническая принадлежность;
# parental level of education — уровень образования родителей;
# lunch — какие обеды получал студент во время обучения (standard — платный, free/r educed — бесплатный);
# test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);
# math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.

In [14]:
student_data.shape

(1000, 8)

In [15]:
student_data.loc[155, 'writing score']

88

In [16]:
student_data.isnull().sum(axis=1)

0      0
1      0
2      0
3      0
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 1000, dtype: int64

In [17]:
student_data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [18]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [19]:
round(student_data['math score'].mean())

66

In [20]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [21]:
round(student_data[student_data['test preparation course'] == 'completed']['reading score'].mean())

74

In [22]:
student_data[student_data['math score'] == 0].shape[0]

1

In [23]:
student_data[student_data['lunch'] == 'standart']['math score'].mean()

nan

In [24]:
round(student_data[student_data['lunch'] == 'free/reduced']['math score'].mean())

59

In [25]:
student_data[student_data['lunch'] == 'standart'].shape

(0, 8)

In [26]:
student_data[student_data['lunch'] == 'standard']['math score'].mean()
student_data[student_data['lunch'] == 'free/reduced']['math score'].mean()

58.92112676056338

In [27]:
student_data[student_data['parental level of education'] == "bachelor's degree"].shape[0]

118

In [28]:
student_data['parental level of education'].shape[0]

1000

In [29]:
student_data["parental level of education"].value_counts(normalize=True)

some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: parental level of education, dtype: float64

In [30]:
# Насколько медианный балл по письму у студентов в расовой группе А отличается от среднего балла по письму у студентов в расовой группе C?

student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

67.82758620689656

In [31]:
student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()

62.0

In [32]:
gr_a = student_data[student_data['race/ethnicity'] == 'group A']['writing score'].median()
gr_c = student_data[student_data['race/ethnicity'] == 'group C']['writing score'].mean()

abs(round(gr_a - gr_c))

6

In [33]:
print('test')

test